body{
    margin: 0;
    padding: 0;
}

.containerInfo{
   margin: 20px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    
}
.containerImage img{
    margin-top: 10px;
   height: 200px;
    width: 200px;
}

.containerDescription {
width: 400px;
text-align: center;
}

button{
    margin-bottom: 10px;
    border-radius: 20px;
}

@media (min-width:768px){


    .containerInfo{
       width: 748px;
    }
}