.Proveedoras-contenedor {
    padding: 1rem;
    font-family: sans-serif;
    background-color: #4B48D6;
    border-radius: 0px 15px 15px 0;
    height: 90px;
    width: 50%;
}

p{
    color: black;
}

input{
    color: black;
}

@media (max-width: 768px ) {
    .Proveedoras-contenedor{
        border-radius: 0 0 15px 15px;
    }
}