*{
  outline: 1px solid red;
}


.main{
  display: flex;
  background-image: url(../public/images/Banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  overflow: hidden;
  
}


.containerFather{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
}
.containerProducts{
  height: fit-content;
  overflow: hidden;

}



@media (max-width: 768px) {
  .main{
    display: flex;
    flex-direction: column;

  }

  
  
}


